@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  width: 100%;
  background-color: #111111;
  margin: 0;
  height: 7rem;
}
.header__nav p {
  padding: 0.5rem 5rem;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5rem;
  background-color: #fff;
  transform: translateY(10%);
  padding: 0.5rem;
}
.navbar__burger {
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: #fff;
  border: 2px solid rgba(133, 133, 133, 0.3019607843);
}
.navbar__burger:hover {
  cursor: pointer;
}
.navbar__burger img {
  width: 2rem;
  height: 2rem;
}
.navbar a {
  text-decoration: none;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__left h1 {
  color: #111111;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
  padding: 1.5rem;
  font-family: "Archivo", sans-serif;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}
.navbar__left h2 {
  padding: 2rem;
  color: #111111;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}
.navbar__center {
  display: flex;
  justify-content: space-between;
}
.navbar__center a {
  padding: 2rem;
  color: #111111;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-family: "Archivo", sans-serif;
}
.navbar__right__button {
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: #fff;
  border: 2px solid rgba(133, 133, 133, 0.3019607843);
}
.navbar__right__button:hover {
  cursor: pointer;
}
.navbar__right__button img {
  width: 2rem;
  height: 2rem;
}

.footer {
  padding-top: 2rem;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__sections {
  margin: 0 auto;
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.footer__sections__left {
  padding: 1rem;
}
.footer__sections__left__title {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.footer__sections__left__title h2 {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  background-color: #BEAD8E;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
}
.footer__sections__left__title h3 {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #111;
  padding-left: 2rem;
}
.footer__sections__left__text {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #777;
}
.footer__sections__right {
  padding: 1rem;
}
.footer__sections__right h2 {
  padding-bottom: 1rem;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.footer__sections__right__item {
  display: flex;
  padding: 1rem 1rem 1rem 0;
}
.footer__sections__right__item__number {
  padding-left: 1.5rem;
}
.footer__sections__right__item__number h3 {
  color: #222;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
}
.footer__sections__right__item__number h4 {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.footer__sections__center {
  padding: 1rem;
}
.footer__sections__center h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222;
}
.footer__sections__center__columns {
  padding-top: 1rem;
  display: flex;
}
.footer__sections__center li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #777;
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 400;
}
.footer__bottom {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  padding: 1.5rem;
}
.footer__bottom p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #222;
}

.bannerSection {
  background-color: #333;
  padding: 8rem 12rem;
}
.bannerSection p {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}
.bannerSection h2 {
  color: #fff;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: -0.1rem;
  padding: 1rem 0;
}
.bannerSection__buttons button {
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
}
.bannerSection__buttons--tour {
  background-color: #BEAD8E;
}
.bannerSection__buttons--tour:hover {
  background-color: transparent;
  border: 1px solid #BEAD8E;
}
.bannerSection__buttons--learn {
  background-color: transparent;
  border: 1px solid #BEAD8E;
}
.bannerSection__buttons--learn:hover {
  background-color: #BEAD8E;
}

.calendarSection {
  width: 100%;
  background-color: #222;
  padding: 2rem;
}
.calendarSection__form {
  display: flex;
  justify-content: space-around;
}
.calendarSection__form__date {
  display: flex;
  flex-direction: column;
}
.calendarSection__form__date label {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  border-bottom: 0.0625rem solid #BEAD8E;
  display: flex;
  flex-direction: column;
}
.calendarSection__form__date input {
  background-color: transparent;
  margin-top: 0.5rem;
  border: none;
  color: #BEAD8E;
}
.calendarSection__form__button {
  padding: 1rem 1.5rem;
  background-color: #BEAD8E;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(78%) sepia(3%) saturate(2671%) hue-rotate(2deg) brightness(89%) contrast(91%);
  position: relative;
  right: 85%;
}

input[type=date]::placeholder {
  position: relative;
  left: 35%;
}/*# sourceMappingURL=styles.css.map */