@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  width: 100%;
  background-color: #111111;
  margin: 0;
  height: 7rem;
}
.header__nav {
  width: 100%;
}
.header__nav p {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.navbar__burger {
  padding: 0.5rem;
  background-color: #fff;
  border: none;
}
.navbar__burger:hover {
  cursor: pointer;
}
.navbar__burger img {
  width: 2rem;
  height: 2rem;
}
.navbar a {
  text-decoration: none;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__left h1 {
  color: #111111;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.5rem;
  padding: 1rem;
  font-family: "Archivo", sans-serif;
  box-shadow: 0 0.8rem 1.5rem 0 rgba(139, 139, 139, 0.2509803922);
}
.navbar__left h2 {
  padding: 2rem;
  color: #111111;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}
.navbar__center {
  display: none;
}
.navbar__right {
  display: flex;
}
.navbar__right__button {
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: #fff;
  border: 2px solid rgba(133, 133, 133, 0.3019607843);
  display: flex;
}
.navbar__right__button:hover {
  cursor: pointer;
}
.navbar__right__button img {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 1000px) {
  .header {
    display: block;
    width: 100%;
    background-color: #111111;
    margin: 0;
    height: 7rem;
  }
  .header__nav p {
    padding: 0.5rem 5rem;
    color: #fff;
  }
  .navbar {
    margin: 0 5rem;
    transform: translateY(10%);
    padding: 0.5rem;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__left h1 {
    padding: 1.5rem;
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .navbar__center {
    display: flex;
    justify-content: space-between;
  }
  .navbar__center a {
    padding: 2rem;
    color: #111111;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-family: "Archivo", sans-serif;
  }
}
.footer {
  padding-top: 2rem;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
}
.footer__sections {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.footer__sections__left {
  padding: 1rem;
}
.footer__sections__left__title {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.footer__sections__left__title h2 {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  background-color: #BEAD8E;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
}
.footer__sections__left__title h3 {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #111;
  padding-left: 2rem;
}
.footer__sections__left__text {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #777;
}
.footer__sections__right {
  padding: 1rem;
}
.footer__sections__right h2 {
  padding-bottom: 1rem;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.footer__sections__right__item {
  display: flex;
  padding: 1rem 1rem 1rem 0;
}
.footer__sections__right__item__number {
  padding-left: 1.5rem;
}
.footer__sections__right__item__number h3 {
  color: #222;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
}
.footer__sections__right__item__number h4 {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.footer__sections__center {
  padding: 1rem;
}
.footer__sections__center h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222;
}
.footer__sections__center__columns {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.footer__sections__center li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #777;
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 400;
}
.footer__bottom {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 1.5rem;
}
.footer__bottom p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #222;
  padding: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .footer__sections {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 8rem;
  }
  .footer__bottom {
    flex-direction: row;
    justify-content: space-around;
  }
}
.bannerSection {
  background-color: #333;
  padding: 4rem;
}
.bannerSection p {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  padding: 1rem 0;
}
.bannerSection h2 {
  color: #fff;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: -0.1rem;
  padding: 1rem 0;
}
.bannerSection__buttons {
  display: flex;
  flex-direction: column;
}
.bannerSection__buttons button {
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
  max-width: 14rem;
  margin-top: 1rem;
}
.bannerSection__buttons--tour {
  background-color: #BEAD8E;
}
.bannerSection__buttons--tour:hover {
  background-color: transparent;
  border: 1px solid #BEAD8E;
}
.bannerSection__buttons--learn {
  background-color: transparent;
  border: 1px solid #BEAD8E;
}
.bannerSection__buttons--learn:hover {
  background-color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .bannerSection {
    padding: 8rem 12rem;
  }
  .bannerSection p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .bannerSection h2 {
    font-size: 8rem;
    line-height: 9rem;
  }
  .bannerSection__buttons {
    flex-direction: row;
  }
  .bannerSection__buttons button {
    margin-right: 1rem;
  }
}
.calendarSection {
  width: 100%;
  background-color: #222;
  padding: 2rem;
}
.calendarSection__form__date {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.calendarSection__form__date label {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  border-bottom: 0.0625rem solid #BEAD8E;
  display: flex;
  flex-direction: column;
}
.calendarSection__form__date input {
  background-color: transparent;
  margin-top: 0.5rem;
  border: none;
  color: #BEAD8E;
}
.calendarSection__form__button {
  padding: 1rem 1.5rem;
  background-color: #BEAD8E;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(74%) sepia(5%) saturate(2587%) brightness(87%) contrast(90%);
}

@media screen and (min-width: 1000px) {
  .calendarSection__form {
    display: flex;
    justify-content: space-around;
  }
}
.aboutUsSection {
  display: flex;
  flex-direction: column-reverse;
  padding: 4rem 0;
}
.aboutUsSection__left {
  display: flex;
  flex-direction: column;
}
.aboutUsSection__left__strong {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}
.aboutUsSection__left__strong__left {
  width: 20rem;
  height: 22rem;
  text-align: center;
  margin: 0.5rem;
  padding: 2.5rem;
}
.aboutUsSection__left__strong__left h3 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.08rem;
  color: #111;
}
.aboutUsSection__left__strong__left p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
}
.aboutUsSection__left__strong__img {
  width: 20rem;
  height: 22rem;
  margin: 0.5rem;
}
.aboutUsSection__left__luxury {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.aboutUsSection__left__luxury__img {
  width: 20rem;
  height: 22rem;
}
.aboutUsSection__left__luxury__right {
  text-align: center;
  width: 20rem;
  height: 22rem;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUsSection__left__luxury__right img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.5rem;
}
.aboutUsSection__left__luxury__right h3 {
  color: #fff;
  font-size: 2rem;
  font-family: "Old Standard TT", sans-serif;
  line-height: 2rem;
  letter-spacing: -0.08rem;
  font-weight: 400;
  margin: 0.5rem;
}
.aboutUsSection__left__luxury__right p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
}
.aboutUsSection__right {
  padding: 5rem 3rem;
}
.aboutUsSection__right h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #777;
  margin: 1rem;
}
.aboutUsSection__right h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5.8rem;
  letter-spacing: -0.12rem;
  color: #111;
  margin: 1rem;
}
.aboutUsSection__right p {
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  color: #777;
  margin: 1rem;
}
.aboutUsSection__right button {
  padding: 1rem 3rem;
  color: #fff;
  background-color: #BDAC8D;
  border: none;
  margin: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .aboutUsSection {
    flex-direction: row;
    padding: 4rem 0 4rem 20rem;
  }
  .aboutUsSection__left__strong {
    flex-direction: row;
  }
  .aboutUsSection__left__strong__left {
    width: 16rem;
    height: 18rem;
    padding: 1rem;
    margin: 0.5rem;
  }
  .aboutUsSection__left__strong__img {
    width: 16rem;
    height: 18rem;
    margin: 0.5rem;
  }
  .aboutUsSection__left__luxury {
    flex-direction: row;
  }
  .aboutUsSection__left__luxury__right {
    width: 16rem;
    height: 18rem;
    padding: 1rem;
    margin: 0.5rem;
  }
  .aboutUsSection__left__luxury__img {
    width: 16rem;
    height: 18rem;
    margin: 0.5rem;
  }
  .aboutUsSection__right h5 {
    font-size: 1rem;
  }
}
.introSection {
  background: #222;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.introSection__left {
  flex: 1 1 0;
  padding-right: 3rem;
}
.introSection__left h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
  color: #BDAC8D;
  margin-bottom: 1rem;
}
.introSection__left h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: -0.16rem;
  color: #fff;
}
.introSection__left p {
  margin-top: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: #C2C2C2;
}
.introSection__left button {
  margin-top: 1rem;
  color: #fff;
  background-color: #BDAC8D;
  padding: 1rem 3rem;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
}
.introSection__right {
  padding-top: 4rem;
}
.introSection__right iframe {
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
}

@media screen and (min-width: 1000px) {
  .introSection {
    background: linear-gradient(to right, #222 0%, #222 75%, #AD9D82 75%, #AD9D82 100%);
    padding: 5rem 10rem;
    flex-direction: row;
  }
  .introSection__left h2 {
    font-size: 5rem;
    line-height: 5.3rem;
  }
  .introSection__left p {
    font-size: 1rem;
  }
  .introSection__right {
    flex: 1 1 0;
  }
  .introSection__right iframe {
    width: 35rem;
    height: 25rem;
  }
}
.featuresSection {
  padding: 2rem 4rem;
}
.featuresSection__title {
  text-align: center;
}
.featuresSection__title h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
  color: #777;
  padding: 1rem;
}
.featuresSection__title h2 {
  padding: 1rem;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  color: #222;
}
.featuresSection__grid {
  padding: 2rem 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.featuresSection__grid__item {
  padding: 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.featuresSection__grid__item__title {
  display: flex;
  justify-content: space-between;
}
.featuresSection__grid__item__title h2 {
  font-size: 7.5rem;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  color: rgba(34, 34, 34, 0.0392156863);
  transform: translateY(-35%);
}
.featuresSection__grid__item h4 {
  font-family: "Old Standard TT", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.07rem;
  color: #222;
  font-weight: 400;
}
.featuresSection__grid__item p {
  margin-top: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777;
}
.featuresSection__grid__item:hover {
  transform: scale(1.02);
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(177, 175, 175, 0.7019607843);
}

.foodSection__body {
  padding: 5rem 10rem;
}
.foodSection__body h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  left: 0.2rem;
  line-height: 1.1rem;
  color: #777;
}
.foodSection__body h2 {
  margin: 1rem 0;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: -0.16rem;
  color: #222;
}
.foodSection__body__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.foodSection__body__menu__item {
  display: flex;
  align-items: center;
}
.foodSection__body__menu__item img {
  width: 7.5rem;
  height: 7.5rem;
}
.foodSection__body__menu__item__text {
  padding: 1rem;
  color: #222;
}
.foodSection__body__menu__item__text h4 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.08rem;
  padding: 0.5rem;
}
.foodSection__body__menu__item__text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

.infoSection {
  background-color: #222;
  padding: 2rem 4rem;
}
.infoSection__item {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 2rem;
}
.infoSection__item img {
  width: 6rem;
  height: 6rem;
}
.infoSection__item h3 {
  color: #fff;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0;
  padding: 0;
}
.infoSection__item h3 span {
  font-size: 1rem;
  font-weight: 400;
}
.infoSection__item p {
  color: #999;
  font-size: 1rem;
  line-height: 1.4rem;
}

@media screen and (min-width: 1000px) {
  .infoSection {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.roomSection__swiper {
  width: 100%;
  height: 100%;
}
.roomSection__swiper .swiper-slide {
  padding: 3rem;
}
.roomSection__swiper .swiper-slide img {
  margin: 0 auto;
  width: 50rem;
  height: auto;
}

.AboutBanner {
  background-color: #333;
  padding-top: 3rem;
}
.AboutBanner__text {
  color: #fff;
  padding: 2rem;
  margin: 2rem;
}
.AboutBanner__text p {
  font-size: 0.8rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.AboutBanner__text h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 4.8rem;
  letter-spacing: -0.08rem;
  margin: 1.5rem 0;
}
.AboutBanner__links {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  width: 10rem;
  padding: 1rem;
  margin-right: 2rem;
  margin-left: auto;
  border: none;
}
.AboutBanner__links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #222;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.04rem;
}
.AboutBanner__links .AboutSelected {
  color: #BEAD8E;
}
.AboutBanner__links .AboutHome {
  border-right: 0.05rem solid #222;
}

.AboutVideo {
  padding: 3rem 2rem;
  text-align: center;
}
.AboutVideo iframe {
  width: 100%;
}
.AboutVideo h3 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.1rem;
  color: #222;
}

@media screen and (min-width: 1000px) {
  .AboutVideo iframe {
    width: 40rem;
    height: 30rem;
  }
}
.AboutAmmenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 4rem;
  margin: 0 auto;
}
.AboutAmmenities .bbq {
  display: none;
}
.AboutAmmenities__item {
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}
.AboutAmmenities__item svg {
  transform: scale(1.2);
}
.AboutAmmenities__item p {
  color: #222;
  font-family: "Archivo", sans-serif;
  font-size: 0.8rem;
  line-height: 0.9rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  margin-top: 1rem;
}
.AboutAmmenities__item:hover {
  background-color: #BEAD8E;
  color: #fff;
}
.AboutAmmenities__item:hover svg {
  fill: #fff;
}
.AboutAmmenities__item:hover svg path {
  fill: #fff;
}

@media screen and (min-width: 1000px) {
  .AboutAmmenities {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
  }
  .AboutAmmenities__item {
    padding: 3rem;
  }
  .AboutAmmenities .bbq {
    display: block;
  }
}
.AboutRestaurant {
  padding: 5rem 3rem;
}
.AboutRestaurant__img img {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.AboutRestaurant__text {
  margin-top: 2rem;
}
.AboutRestaurant__text h5 {
  margin-bottom: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  color: #777;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 1rem;
}
.AboutRestaurant__text h2 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.08rem;
  color: #222;
  margin-bottom: 1rem;
}
.AboutRestaurant__text p {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #777;
  margin-bottom: 1rem;
}
.AboutRestaurant__text button {
  background-color: #BEAD8E;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
}

@media screen and (min-width: 1000px) {
  .AboutRestaurant {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .AboutRestaurant__img {
    flex: 1 1 0;
    padding: 2rem;
  }
  .AboutRestaurant__text {
    flex: 1 1 0;
    padding: 2rem;
  }
}
.AboutFacilities {
  padding: 2rem 4rem;
  background-color: #222;
}
.AboutFacilities__title {
  text-align: center;
}
.AboutFacilities__title h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
  color: #C2C2C2;
  padding: 1rem;
}
.AboutFacilities__title h2 {
  padding: 1rem;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  color: #fff;
}
.AboutFacilities__grid {
  padding: 2rem 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.AboutFacilities__grid__item {
  padding: 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #292929;
}
.AboutFacilities__grid__item__title {
  display: flex;
  justify-content: space-between;
}
.AboutFacilities__grid__item__title h2 {
  font-size: 7.5rem;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  color: #222222;
  transform: translateY(-35%);
}
.AboutFacilities__grid__item h4 {
  font-family: "Old Standard TT", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.07rem;
  color: #fff;
  font-weight: 400;
}
.AboutFacilities__grid__item p {
  margin-top: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #fff;
}
.AboutFacilities__grid__item:hover {
  transform: scale(1.02);
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(177, 175, 175, 0.7019607843);
}

@media screen and (min-width: 1000px) {
  .AboutFacilities__grid {
    padding: 4rem;
    width: 60%;
    margin: 0 auto;
  }
}
.AboutCounter__items {
  width: 80%;
  margin: 0 auto;
}
.AboutCounter__items__item {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .AboutCounter__items {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */