.bannerSection {
    background-color: #333;
    padding: 4rem;

    p {
        color: #fff;
        font-family: 'Archivo', sans-serif;
        font-weight: 700;
        font-size: .8rem;
        line-height: 1.2rem;
        letter-spacing: 0.175rem;
        padding: 1rem 0;
    }

    h2 {
        color: #fff;
        font-family: 'Old Standard TT', sans-serif;
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.5rem;
        letter-spacing: -0.1rem;
        padding: 1rem 0;
    }

    &__buttons {


        display: flex;
        flex-direction: column;

        button {
            padding: 1rem 2rem;
            color: #fff;
            cursor: pointer;
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.1rem;
            letter-spacing: .1rem;
            max-width: 14rem;
            margin-top: 1rem;
        }

        &--tour {
            background-color: #BEAD8E;

            &:hover {
                background-color: transparent;
                border: 1px solid #BEAD8E;
            }
        }

        &--learn {
            background-color: transparent;
            border: 1px solid #BEAD8E;

            &:hover {
                background-color: #BEAD8E;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .bannerSection {
        padding: 8rem 12rem;

        p {
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }

        h2 {
            font-size: 8rem;
            line-height: 9rem;
        }

        &__buttons {
            flex-direction: row;

            button {
                margin-right: 1rem;
            }
        }
    }
}