.calendarSection {
    width: 100%;
    background-color: #222;
    padding: 2rem;

    &__form {

        &__date {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            label {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.2rem;
                border-bottom: .0625rem solid #BEAD8E;
                display: flex;
                flex-direction: column;
            }

            input {
                background-color: transparent;
                margin-top: .5rem;
                border: none;
                color: #BEAD8E;

            }
        }

        &__button {
            padding: 1rem 1.5rem;
            background-color: #BEAD8E;
            color: #fff;
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2rem;
            letter-spacing: .2rem;
        }
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(74%) sepia(5%) saturate(2587%) brightness(87%) contrast(90%);
}

@media screen and (min-width: 1000px) {
    .calendarSection {
        &__form {
            display: flex;
            justify-content: space-around;
        }
    }
}