.featuresSection {
    padding: 4rem;

    &__title {
        text-align: center;

        h5 {
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.1rem;
            letter-spacing: 0.175rem;
            color: #777;
            padding: 1rem;
        }

        h2 {
            padding: 1rem;
            font-family: 'Old Standard TT', sans-serif;
            font-weight: 400;
            font-size: 5rem;
            line-height: 5rem;
            letter-spacing: - 0.175rem;
            color: #222;
        }
    }

    &__swiper {
        padding: 4rem 12rem;
        margin-bottom: 2rem;
        width: 90%;
        margin: 0 auto;

        &__item {
            padding: 2rem;
            cursor: pointer;
            border-radius: .2rem;
            margin: 4rem 0;

            &__title {
                display: flex;
                justify-content: space-between;

                h2 {
                    font-size: 7.5rem;
                    font-weight: 700;
                    font-family: 'Archivo', sans-serif;
                    color: #2222220A;
                    transform: translateY(-35%);
                }
            }

            h4 {
                font-family: 'Old Standard TT', sans-serif;
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: -0.07rem;
                color: #222;
                font-weight: 400;
            }

            p {
                margin-top: 1rem;
                font-family: 'Archivo', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
                color: #777;
            }

            &:hover {
                transform: scale(1.02);
                box-shadow: .1rem .1rem .3rem #b1afafb3;
            }
        }
    }
}

@media screen and (min-width: 580px) {
    .featuresSection {
        &__swiper {
            width: 70%;
        }
    }
}

@media screen and (min-width: 760px) {
    .featuresSection {
        &__swiper {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .featuresSection {
        width: 70%;
        margin: 3rem auto;

        &__swiper {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1600px) {
    .featuresSection {
        width: 50%;
    }
}