.foodSection {
    margin-bottom: 2rem;
    overflow: hidden;

    &__span {
        text-align: right;

        img {
            transform: translateX(2rem);
            overflow: hidden;
        }
    }

    &__body {
        max-width: 73.125rem;
        padding: 1rem;

        h5 {
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            left: .2rem;
            line-height: 1.1rem;
            color: #777;
        }

        h2 {
            margin: 1rem 0;
            font-family: 'Old Standard TT', sans-serif;
            font-weight: 400;
            font-size: 5rem;
            line-height: 6rem;
            letter-spacing: -0.16rem;
            color: #222;
        }

        &__swiper {

            .swiper-slide {
                display: flex;
            }

            &__item {
                display: flex;
                align-items: center;

                img {
                    width: 7.5rem;
                    height: 7.5rem;
                }

                &__text {
                    padding: 1rem;
                    color: #222;

                    h4 {
                        font-family: 'Old Standard TT', sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        letter-spacing: -0.08rem;
                        padding: .5rem;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        padding: .5rem;
                    }
                }

            }


        }

        .buttons-menu {
            width: 6rem;
            display: flex;
            justify-content: space-between;
            margin-top: 4rem;
            margin-left: 65%;

            .swiper-button-disabled {
                background-color: #F8F8F8;


            }

            &__prev,
            &__next {
                // color: #fff;
                background-color: #BDAC8D;
                padding: 1.2rem;
                font-size: .08rem;
                cursor: pointer;

                svg {
                    path {
                        fill: #111;
                    }
                }

                // &:hover {

                //     svg {
                //         path {
                //             fill: #fff;
                //         }
                //     }
                // }

                svg {
                    transform: scale(2);
                }
            }
        }
    }


}

@media screen and (min-width: 1000px) {
    .foodSection {
        &__span {
            text-align: left;

            img {

                transform: translateX(-2rem);
            }
        }

        &__body {
            position: relative;
            margin: 0 auto;

            .buttons-menu {
                margin-top: 0;
                position: absolute;
                top: 10%;
                right: 10%;
            }
        }
    }
}