.header {
    width: 100%;
    background-color: #111111;
    margin: 0;
    height: 7rem;

    &__nav {
        width: 100%;

        p {
            display: none;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;


    &__burger {

        padding: .5rem;
        // margin-right: 1rem;
        background-color: #fff;
        border: none;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 2rem;
            height: 2rem;
        }
    }

    a {
        text-decoration: none;
    }

    &__left {
        display: flex;
        align-items: center;

        h1 {
            color: #111111;
            font-weight: 700;
            font-size: 2.3rem;
            line-height: 2.5rem;
            padding: 1rem;
            font-family: 'Archivo', sans-serif;
            box-shadow: 0 0.8rem 1.5rem 0 #8B8B8B40;
        }

        h2 {
            padding: 2rem;
            color: #111111;
            font-family: 'Archivo', sans-serif;
            font-weight: 400
        }
    }

    &__center {
        display: none;
    }

    &__right {
        display: flex;

        &__button {
            padding: .5rem;
            margin-right: 1rem;
            background-color: #fff;
            border: 2px solid #8585854D;
            display: flex;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .header {
        display: block;
        width: 100%;
        background-color: #111111;
        margin: 0;
        height: 7rem;

        &__nav {

            p {
                padding: .5rem 5rem;
                color: #fff;
            }
        }
    }

    .navbar {

        margin: 0 5rem;
        transform: translateY(10%);
        padding: .5rem;

        &__burger {
            display: none;
        }

        &__left {
            h1 {
                padding: 1.5rem;
                font-size: 3rem;
                line-height: 3.2rem;
            }
        }

        &__center {
            display: flex;
            justify-content: space-between;

            a {
                padding: 2rem;
                color: #111111;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.3rem;
                font-family: 'Archivo', sans-serif;
            }
        }
    }
}