.bannerSection {
    background-color: #333;
    padding: 3rem 8rem;

    p {
        color: #fff;
        font-family: 'Archivo', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.1rem;
        padding: 1rem 0;
    }

    h2 {
        color: #fff;
        font-family: 'Old Standard TT', sans-serif;
        font-weight: 400;
        font-size: 8rem;
        line-height: 9rem;
        letter-spacing: -0.1rem;
        padding: 1rem 0;
    }
}