.roomSection {

    &__swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            padding: 3rem;

            img {
                margin: 0 auto;
                width: 50rem;
                height: auto;
            }
        }
    }

}