.AboutVideo {
    padding: 3rem 2rem;
    text-align: center;

    iframe {
        width: 100%;
    }

    h3 {
        font-family: 'Old Standard TT', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: -0.1rem;
        color: #222;
    }
}

@media screen and (min-width: 1000px) {
    .AboutVideo {
        width: 70%;
        margin: 0 auto;

        iframe {
            width: 80%;
            height: 50vh;
        }

        h3 {
            padding-top: 4rem;
            font-size: 4.5rem;
            line-height: 5.5rem;
        }
    }
}